@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Tiny5&display=swap');

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.lg {
  font-size: 4rem;
}

.md {
  font-size: 2rem;
}

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  background: #f0f0f0;
  color: #1D201F;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.btn {
  background-color: #6c82ef;
  border-radius: 16px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #8094f7;
}


section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: 20px;
  padding: 20px;
  min-width: 340px;
  max-width: 400px;
  height: 500px;
  text-align: center;
}

.drawing {
    width: 100%;
    height: 100%;
    background-color: #6a6a6a;
}

.canvas{
    width: 100%;
    height: 100%;
    background-color: #6a6a6a;
}

.tiny5{
  font-family: "Tiny5", sans-serif;
}


.fadeHover {
  filter: grayscale(100%);
  transition: all 0.3s ease;
}

.fadeHover:hover {
  filter: grayscale(0%);
}


.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap:20px
}

.displayGrid {
  margin:0;
  padding:0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
}

.displayItemTall {
  grid-row: span 2;
}

.generationDisplay {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.pageGrid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
}